/*********************   Color Variables **************/

// Red shades
$guardsman-red: #AB2B3B; 
$mandy:         #C04B59;

// Yellow Shades
$ochre:         #BF7416;
$orange:        #F8971D; 
$carrot-orange: rgba(248,151,29,0.77);

// Grey Shades
$black:        #000000;
$black-russian: #101113;
$nero:         #252525;
$baltic-sea:   #30373E;
$outer-space:  #303738;
$matterhorn:   #555555;
$silver:       #BBBBBB;
$suva-grey:    #8F8F8F;
$white:        #FFFFFF;
