<div class="dropdownComponents">
    <div id="toastrDiv"></div>
    <form name="form3" novalidate  ng-controller="dropdownControls as ctrl">
        <!--<captor-multiselect-dropdown name="dropdown1" 
                        label="MultiSelect Dropdown" 
                        placeholder="Select Multiple Values" 
                        is-required="true" 
                        value="ctrl.example"
                        selected-val="ctrl.selected"
                        single-select="false">
        </captor-multiselect-dropdown>-->

        <br><br><br>

        <captor-multiselect-dropdown name="dropdown2" 
                        label="Single Select Dropdown" 
                        placeholder="Select Single Values" 
                        is-required="true" 
                        value="ctrl.example"
                        selected-val="ctrl.selected2"
                        single-select="true">
        </captor-multiselect-dropdown>
        <captor-savebutton formName="form3" label="Save Dropdown" form-valid="form3.$valid"></captor-savebutton>
    </form>
</div>