<div class="dropdownComponents">
    <form name="form3" novalidate  ng-controller="dropdownControls as ctrl">
        <captor-multiselect-dropdown name="dropdown1" 
                        label="MultiSelect Dropdown" 
                        placeholder="Select Multiple Values" 
                        is-required="true" 
                        value="ctrl.example"
                        selected-val="ctrl.selected">
        </captor-multiselect-dropdown>
        <captor-savebutton label="save form" form-name="form3" form-valid="form3.$valid"></captor-savebutton>
    </form>
</div>