<div>
    <form novalidate ng-repeat="ctrls in vm.formArray">
        <!--<{{ctrls.elementType}}> </{{ctrls.elementType}}>-->
        <!--<ng-repeat="ctrls in vm.formArray"/>-->
        <captor-input-text type="{{ctrls.type}}" label="{{ctrls.label}}" ng-if="ctrls.type=='text' || ctrls.type=='email' || ctrls.type=='ssn' || ctrls.type=='pwd' || ctrls.type=='phone'">
            </captor-input-text>
             <captor-tinymce  ng-if="ctrls.type=='tinymce'">
            </captor-tinymce>

    </form>
</div>